---
import SiteLayout from "../layouts/SiteLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/404.css";
---

<SiteLayout title="403">
  <div class="notFoundShell">
    <NavBar />

    <main class="notFoundMain">
      <section class="notFoundSection">
        <div class="notFoundWrapper">
          <div class="notFoundTextBlock">
            <div class="notFoundKicker">ACCESS DENIED</div>

            <h1 class="notFoundTitle">
              You do not have permission to access this page.
            </h1>

            <div class="notFoundActions">
              <a class="notFoundButtonPrimary" href="/">Back to Home</a>
              <a class="notFoundButton" href="/mods/">Browse Mods</a>
            </div>
          </div>

          <div class="notFoundVisual">
            <img class="notFoundImage" src="/assets/renderers/cart.png" alt="Let’s Do" />
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </div>
</SiteLayout>