<nav class="nav">
  <div class="navInner">
    <a class="brand" href="/">
      <img src="/assets/chest_logo.png" alt="Let's Do" class="logo" />
      <span class="brandText">Let's Do</span>
    </a>

    <div class="links">
      <a href="/about/">About</a>
      <a href="/faq/">FAQ</a>
      <a href="/mods/">Mods</a>
      <a
        href="https://github.com/Let-s-Do-Collection"
        target="_blank"
        rel="noopener"
      >
        GitHub
      </a>
      <a
        class="download"
        href="https://modrinth.com/user/satisfyu"
        target="_blank"
        rel="noopener"
      >
        Download
      </a>
    </div>
  </div>
</nav>